keras==2.15.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
mplfinance==0.12.10b0
numpy==1.24.2
pandas==1.5.3
scikit-learn==1.2.2
sklearn==0.0.post1
tensorboard==2.15.1
tensorflow==2.15.0
yfinance==0.2.40